<form action="<%= url %>" method="post">
  <label for="name">
    Name:
    <input
      type="text"
      name="name"
      placeholder="name..."
      value="<%= category.name %>"
    />
  </label>
  <label for="imageurl">
    URL:
    <input
      type="text"
      name="imageurl"
      placeholder="url"
      value="<%= category.imageurl %>"
    />
  </label>
  <input type="text" name="id" value="<%= category.id %>" hidden />
  <button type="submit">Submit</button>
</form>
