<form action="<%= url %>" method="post">
  <label for=""> Name: <input type="text" name="name" /> </label>
  <label for=""> Quantity: <input type="text" name="quantity" /> </label>
  <label for=""> Price: <input type="text" name="price" /> </label>
  <label for=""> imageurl: <input type="text" name="imageurl" /> </label>
  <input type="text" name="category_id" value="<%= category.id %>" hidden />
  <button type="submit">Submit</button>
</form>
