<div class="navbar">
  <div class="logo">
    <span class="logo-primary">Silly Shop</span>
    <span class="logo-secondary">Add your own items and buy them!</span>
  </div>
  <nav>
    <ul class="navbar-links">
      <li><a href="/">Home</a></li>
      <li><a href="/category">Categories</a></li>
    </ul>
  </nav>
</div>
