<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Category</title>
  </head>
  <body>
    <h1>Categories</h1>
    <form action="/category/new" method="post">
      <label for="name">
        Name:
        <input type="text" name="name" placeholder="name..." />
      </label>
      <label for="imageUrl">
        URL:
        <input type="text" name="imageUrl" placeholder="url" />
      </label>
      <button type="submit">Submit</button>
    </form>
    <% if (categories) {%>
      <ul>
        <% categories.forEach( category => { %>
          <a href='/category/<%= category.id %>'>
            <li><%= category.name %> <img src='<%= category.imageUrl %>' alt=''></li>
          </a>
          <a href='/category/<%= category.id %>/edit'>Edit</a>
        <% }) %>
      </ul>
    <% } %>
  </body>
</html>
